html { background-color: #fff; }
body { margin: 0; text-align: center;}
input { padding:0; margin: 0; border: none; }
label { display: block; overflow: hidden; }
.x3 { width: 25%; }
.x4 { width: 33%; }
.x6 { width: 50%; }
.x12 { width: 100%; }

@font-face { 
    src: url('../fonts/helvetica-neue-lt-std-47-light-condensed.otf');
    font-family: 'Helvetica Light';
}
@font-face { 
    src: url('../fonts/helvetica-neue-lt-std-67-medium-condensed.otf');
    font-family: 'Helvetica Medium';
}
@font-face { 
    src: url('../fonts/helvetica-neue-lt-std-77-bold-condensed.otf');
    font-family: 'Helvetica Bold';
}

md-input-container {
    width: 100%;
    text-align: left;
    color: #fff;
}

.map {
    height:700px;
    position: relative;
}

ng-map {
    height:100%;
}

.banner {
    position: absolute;
    bottom: 85px;
    background: #FF8849;
    color: #fff;
    font-size: 72px;
    font-family: Helvetica Light;
    height: 72px;
    padding: 12px;
    left: 50%;
    width: 754px;
    margin-left: -377px;
    pointer-events: none;
}

.banner span {
    font-family: Helvetica Bold;
    display: inline-block;
}

.textSection {
    height: 700px;
    text-align: center;
    padding: 115px;
    box-sizing: border-box;
    font-family: Open Sans;
    background: #fff;
}
.textSection div {
    width: 638px;
    margin: 0 auto;
    margin-bottom: 29px;
    font-size: 24px;
}

.progressContainer {
  height: 131px;
  background-color: #E3E696;
}
.progress {
  min-width: 5%;
  background: #CED54A;
  height: 100%;
  transition: .6s width ease-out;
  max-width: 100%;
  position: relative;
  width: 0%;
}
.progress::before {
    content: attr(data-number);
    position: absolute;
    right: -75px;
    font-size: 24px;
    font-family: Open Sans;
    font-weight: bold;
    top: 40px;
    text-align: center;
    width: 150px;
}
.progress::after {
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    background: #005293;
    position: absolute;
    right: -32px;
    transform: rotate(45deg);
    bottom: -32px;
}

.final {
    font-size: 48px;
    font-family: Open Sans;
    color: #fff;
    position: relative;
    top: 29px;
    float: right;
    right: 32px;
    font-weight: 600;
}

.formContainer {
    height: 900px;
    background-color: #005293;
    box-sizing: border-box;
    padding: 115px;
}

.formText {
    color: #FADA63;
    font-family: Open Sans;
    width: 680px;
    font-size: 24px;
    font-weight: 300;
    margin: 0 auto;
}

.form {
    margin: 70px auto 0;
    width: 590px;
    border: 1px solid #3674A6;
    padding: 59px 66px;
    box-sizing: border-box;

}

label {
    color: #70ADDD !important;
}
input {
    border-color: #fff !important;
    color: #fff !important;
    padding: 20px 0 !important;
}

.loggerSubmit {
    width: 246px;
    background: transparent;
    border: 0;
    color: #FADA63;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    border: 1px solid #FADA63;
    font-family: Helvetica Bold;
    height: 58px;
    padding-top: 10px;
    margin-top: 38px;
    transition: .3s all ease-out;
}

.loggerSubmit.error {
    border-color: #3674A6;
    color: #3674A6;
    pointer-events: none;
}

.md-input-message-animation {
    color: #FADA63 !important;
}

[angular-ripple] {
  position: relative;
  overflow: hidden;
}
.angular-ripple {
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  border-radius: 50%;
  transform: scale(0);
}
.angular-ripple.animate {
  animation: ripple 0.35s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
