html { background-color: #fff; }
body { margin: 0;}
.logger {}
input { padding:0; margin: 0; border: none; }
label { display: block; overflow: hidden; }
.x3 { width: 25%; }
.x4 { width: 33%; }
.x6 { width: 50%; }
.x12 { width: 100%; }


md-input-container {
    width: 100%;
    text-align: left;
    color: #fff;
}
md-input-container {
    margin: 18px 0 0 !important;
}

#pusher {
    margin-top: 892px;

}
.logger {
  padding-top: 192px;
}

.isSmall.logger {
  padding-top: 0;
}

.map {
    height: 1050px;
    position: absolute;
    width: 100%;
    top: 192px;
}
.isSmall .map {
    top: 72px !important;
}
ng-map {
    height:100%;
}

.banner {
    background: #FF8849;
    color: #fff;
    font-size: 62px;
    font-family: 'Neue Helvetica Condensed';
    font-weight: 300;
    padding: 12px;
    width: 742px;
    pointer-events: none;
    margin: 0 auto 45px;
    text-align: center;
}
.isSmall .banner {
    font-size: 36px !important;
    padding: 0 0 27px;
}

.banner .bold {
    font-family: 'Neue Helvetica Condensed';
    font-weight: 700;
    display: inline-block;
}
.isSmall .banner .bold {
    margin-top: 26px !important;
}

.textSection {
    /* height: 700px; */
    text-align: center;
    padding: 115px;
    box-sizing: border-box;
    font-family: Open Sans;
    background: #fff;
}
.textSection div {
    margin: 0 auto;
    margin-bottom: 29px;
    font-size: 24px;
}
.isSmall .textSection {
    padding: 40px 20px 20px 20px !important;
}

.progressContainer {
    height: 131px;
    background-color: #E3E696;
    font-size: 48px;
    text-align: right;
    position: relative;
    z-index: 400;
}
.progressContainer.complete {
    text-align: center;
}
.progress {
    min-width: 5%;
    background: #CED54A;
    height: 100%;
    transition: .3s width ease-out;
    max-width: 100%;
    position: relative;
    width: 0%;
    float: left;
}
.isSmall .progress {
  min-width: 14%;;
}
.progress::before {
    content: attr(data-text);
    position: absolute;
    right: -75px;
    font-size: 24px;
    font-family: Open Sans;
    font-weight: bold;
    top: 40px;
    text-align: center;
    width: 150px;
    transition: .3s font-size ease-out;
}
.progress::after {
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    background: #FFF;
    position: absolute;
    right: -32px;
    transform: rotate(45deg);
    bottom: -32px;
}

.final {
    font-size: 48px;
    font-family: Open Sans;
    color: #fff;
    position: relative;
    top: 29px;
    right: 32px;
    font-weight: 600;
    display: inline-block;
}
.complete .final {
    right: 0;
    color: #184f2c;
    font-family: Open Sans;
    font-weight: bold;
}
.isSmall .final {
    display: none !important;
}

.formContainer {
    height: 1050px;
    background-color: rgba(0, 37, 86, 0.85);
    box-sizing: border-box;
    padding: 95px;
    /*margin-top: 192px; */
    position: relative;
    transition: .3s background-color ease-out;
    pointer-events: none;
}
.formContainer.complete {
    background-color: transparent;
}
.isSmall .formContainer {
    padding: 0 !important;
    top: 72px !important;
}

.formText {
    color: #FADA63;
    font-family: Open Sans;
    width: 680px;
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    transition: .3s opacity ease-out;
    padding-bottom: 30px;
}
.formText.complete {
    opacity: 0;
}

.form {
    margin: 20px auto 0;
    width: 590px;
    border: 1px solid #3674A6;
    padding: 59px 66px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0, 82, 147, 0.9);
    opacity: 1;
    transition: .3s opacity ease-out;
    pointer-events: all;
}

.isSmall .form {
    padding: 31px !important;
    margin: 0 auto 43px !important;
}

.form.complete {
    opacity: 0;
    display: none;
}

label {
    color: #70ADDD !important;
}
.form input {
    border-color: #fff !important;
    color: #fff !important;
    padding: 20px 0 !important;
}

.loggerSubmit {
    width: 246px;
    background: transparent;
    border: 0;
    color: #FADA63;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    border: 1px solid #FADA63;
    font-family: 'Neue Helvetica Condensed';
    font-weight: 700;
    height: 58px;
    margin-top: 38px;
    transition: .3s all ease-out;
}
.isSmall .loggerSubmit {
    width: 90% !important;
}

.loggerSubmit.error {
    border-color: #3674A6;
    color: #3674A6;
    pointer-events: none;
}

.md-input-message-animation {
    color: #FADA63 !important;
}

.close-btn {
	display: block;
	position: absolute;
  top: 40px;
  right: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: Open Sans;
  padding-right: 25px;
  pointer-events: all;
  cursor: pointer;
}
.close-btn:before,
.close-btn:after {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 12px;
  transform: rotate(45deg);
  background-color: #fff;
}
.close-btn:after {
  top: 12px;
  transform: rotate(-45deg);
}
.show-btn {
  text-shadow: 1px 1px 1px black;
}
.show-btn:before,
.show-btn:after {

}
.show-btn:before {
  transform: rotate(0deg);
}
.show-btn:after {
  transform: rotate(90deg);
}
.isSmall .show-btn,
.isSmall .close-btn {
  display: none;
}

[angular-ripple] {
  position: relative;
  overflow: hidden;
}
.angular-ripple {
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  border-radius: 50%;
  transform: scale(0);
}
.angular-ripple.animate {
  animation: ripple 0.35s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@media screen and (min-width: 40em) {
  .banner {
    margin-top: 80px;
  }
}

@media screen and (min-width: 51.25em) {
  .banner {
    margin-top: 60px;
    transition: transform 300ms ease;
  }
  .banner.complete {
    transform: translateY(-100px);
  }
  .isSmall .banner .bold {
    margin: 0 !important;
  }
  .isSmall .progress {
    min-width: 4%;
  }
}

@media screen and (min-width: 53.25em) {

}
