<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/app.css"/>
  </head>

  <body ng-app="logger" ng-controller="AppController as app">

    <!-- HTML -->

    <div class="formContainer">
      <input type="text" ng-model="name" class="x12"/>
      <input type="number" ng-model="amount.hour" class="x12"/>
      <input type="text" ng-model="body" class="x12"/>
      <button ng-click="app.addHours(name, body, amount.hour)">Submit</button>
    </div>

    <!-- SCRIPTS -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAK_7bEwS61JM3bQ_366jHqY4MRDtCPn3U",
        authDomain: "logger-34958.firebaseapp.com",
        databaseURL: "https://logger-34958.firebaseio.com",
        storageBucket: "logger-34958.appspot.com",
        messagingSenderId: "843316928664"
      };
      firebase.initializeApp(config);
    </script>
    <script src="js/app.module.js"></script>
    <script src="js/app.controller.js"></script>

    <!---->

  </body>
</html>
